<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <solpay>
                <model>SolpayFacade</model>
                <title>Solana Pay</title>
                <payment_action>authorize</payment_action>
                <active>1</active>
                <debug>1</debug>
                <order_status>pending</order_status>
                <can_authorize>1</can_authorize>
                <can_use_checkout>1</can_use_checkout>
                <group>offline</group>
            </solpay>
        </payment>
    </default>
</config>
