<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="SolpayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\HungTran\Solpay\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">HungTran\Solpay\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">SolpayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">SolpayCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="SolpayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\HungTran\Solpay\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Logger, initialized with SolpayConfig -->
    <virtualType name="SolpayLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">SolpayConfig</argument>
        </arguments>
    </virtualType>

    <type name="HungTran\Solpay\Gateway\Http\Client\ClientMock">
        <arguments>
            <argument name="logger" xsi:type="object">SolpayLogger</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="SolpayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">SolpayAuthorizeCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorize command -->
    <virtualType name="SolpayAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">SolpayAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">SolpayResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">HungTran\Solpay\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">HungTran\Solpay\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Authorization Request -->
    <virtualType name="SolpayAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">HungTran\Solpay\Gateway\Request\AuthorizationRequest</item>
                <item name="mockData" xsi:type="string">HungTran\Solpay\Gateway\Request\MockDataRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="HungTran\Solpay\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">SolpayConfig</argument>
        </arguments>
    </type>

    <!-- Response handlers -->
    <virtualType name="SolpayResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">HungTran\Solpay\Gateway\Response\TxnIdHandler</item>
                <item name="fraud" xsi:type="string">HungTran\Solpay\Gateway\Response\FraudHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="SolpayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">SolpayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="SolpayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">SolpayConfig</argument>
        </arguments>
    </virtualType>

    <type name="HungTran\Solpay\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">SolpayConfig</argument>
        </arguments>
    </type>

</config>